* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* no dejo espacios al rededor del h1 y html y body tienen las mismas medidas */
}
html{
  height: 100%;
}
body {
  /*
    width: auto;
    height: auto;
    background-color: #111010;
    color: #fff;
    min-height: 100vh; 
    */
    
  font-family: "Amiri", serif;
  min-height: 100vh;
  background-image: url(img/portrait.png);
  background-repeat: no-repeat;
  background-size: cover;
} /*tuve que ponerle esta medida porque no me tomaba todo el ancho de pantalla*/
.form-login {
  width: 300px;
  height: 340px;
  display:block;
  background: #1e1d1d;
  margin: auto;
  /*margin-top: 180px;*/
  box-shadow: 7px 13px 37px #000;
  padding: 20px 30px;
  border-top: 4px solid rgb(133, 133, 36);
  color: white;
}

div {
  margin-top: 0px;
  margin-left: 140px;
  text-align: center;
}
.boton {
  
  margin: 0;
  text-align: center;
  width: 249px;
  height: 40px;
  margin-bottom: 30px;
  border-bottom: 1px solid;
}
.botonregistro,
.botoningreso {

  width: 200px;
  height: 30px;
  margin-top: 10px;
  background: #fff;
  color: #111010;
}
.button-login {
  width: 300px;
  height: 340px;
  margin: auto;
  margin-top: 18px;
  padding: 20px 30px;
}

.fblog {
  color: rgb(4, 3, 83);
  background: transparent;
  border: 2px solid rgb(4, 3, 83);
  border-radius: 6px;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
}
.fblog {
  background-color: white;
  color: black;
  border: 2px solid rgb(4, 3, 83);
}
.fblog:hover {
  background-color: rgb(4, 3, 83);
  color: white;
}
.twlog {
  color: #09c;
  background: transparent;
  border: 2px solid #09c;
  border-radius: 6px;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
}
.twlog {
  background-color: white;
  color: black;
  border: 2px solid #008cba;
}
.twlog:hover {
  background-color: #008cba;
  color: white;
}
.glog {
  color: rgb(102, 120, 125);
  background: transparent;
  border: 2px solid rgb(102, 120, 125);
  border-radius: 6px;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
}
.glog {
  background-color: white;
  color: black;
  border: 2px solid rgb(102, 120, 125);
}
.glog:hover {
  background-color: rgb(102, 120, 125);
  color: white;
}
.center {
  text-align: center;
}

article button {
  width: 249px;
  margin-top: 20px;
  text-align: center;
}
label{
  color:var(--colorTextos);
  font-size: 16px;
  position: absolute;
  left: 5px;
  top: 10px;
  transition: 0.5s ease-in-out;
  pointer-events: none;
}
input:focus~label,
input:valid~label{
  top: -14px;
  font-size: 12px;
  color: #000;
}
.warning{
  width: 200px;
  text-align: center;
  margin: auto;
  color: orange;
  padding-top: 20px;
}
@media screen and (max-width:500px) {
  form{
    width: 80%;
  }
}