*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}
.container{
    position: relative;
    width: 350px;
    height: 400px;
    cursor: pointer;
    
}

.container:hover img{
    transform: scale(1.1);
}
.gallery{
    width: 350px;
    height: 400px;
}
.gallery img{
    width: 350px;
    height: 400px;
    object-fit: cover;
    transition: .5s ease;
}




