*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: rgb(133, 133, 36);
    min-height: 100vh;
    background-size: cover;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 16px;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  
  nav li {
    margin: 0 8px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 16px;
   
  }
  
  .gallery img {
    width: 100%;
    height: 100%;
     border: #fff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
li img{
    width: 100px;
    height: 100px;
    display: flexbox;
    border-radius: 20px;
}  
h1{
    font: "Amiri", serif;
    margin-right: 20px;
}
